* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.banner {
  padding: 1em 2em;
}
.banner span {
  font-size: 2em;
}
.banner a {
  font-size: 1em;
}
.container {
  display: flex;
  padding: 1em;
  height: calc(100% - 10em);
}
.container .left {
  width: 50%;
  margin: 1em;
}
.container .right {
  width: 50%;
  margin: 1em;
}
.container textarea {
  width: 100%;
  resize: none;
  font-size: 12px;
}
.container #jsonContent {
  height: 100%;
}
.container #cfgLoader {
  height: calc(100% - 10em);
}
